In [1]:
import pandas as pd
import numpy as np
title_basics = pd.read_csv(r"C:\Users\darkt\Dropbox\School\FA21\Codable\title.basics.tsv\title_basics.tsv", sep='\t')
title_crew = pd.read_csv(r"C:\Users\darkt\Dropbox\School\FA21\Codable\title.crew.tsv\title_crew.tsv", sep='\t')
title_principals = pd.read_csv(r"C:\Users\darkt\Dropbox\School\FA21\Codable\title.principals.tsv\title_principals.tsv", sep='\t')
title_ratings = pd.read_csv(r"C:\Users\darkt\Dropbox\School\FA21\Codable\title.ratings.tsv\title_ratings.tsv", sep='\t')

C:\Users\darkt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\darkt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
title_basics_sub = title_basics.loc[(title_basics['titleType'] == 'movie') & (title_basics['runtimeMinutes'] != '\\N') ]
title_basics_sub = title_basics_sub.loc[(title_basics_sub['startYear'] != "\\N") & (title_basics_sub['endYear'] == "\\N")]
title_basics_sub['startYear'] = pd.to_numeric(title_basics_sub["startYear"])
title_basics_sub = title_basics_sub.loc[title_basics_sub['startYear'] >= 2000]

In [24]:
title_basics_sub.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11059,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019,\N,67,Drama
15179,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,\N
16657,tt0016906,movie,Frivolinas,Frivolinas,0,2014,\N,80,"Comedy,Musical"
18032,tt0018295,movie,El puño de hierro,El puño de hierro,0,2004,\N,40,"Action,Drama"
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"

In [59]:
title_crew['tconst'].isin(title_basics_sub['tconst'])

0          False
1          False
2          False
3          False
4          False
           ...
8315067    False
8315068    False
8315069    False
8315070    False
8315071    False
Name: tconst, Length: 8315072, dtype: bool

In [51]:
title_crew_sub = title_crew.copy()
title_crew_sub['directors'] = title_crew_sub['directors'].str.split(pat=",")


title_crew_sub

            tconst               directors                        writers
0        tt0000001             [nm0005690]                             \N
1        tt0000002             [nm0721526]                             \N
2        tt0000003             [nm0721526]                             \N
3        tt0000004             [nm0721526]                             \N
4        tt0000005             [nm0005690]                             \N
...            ...                     ...                            ...
8315067  tt9916848  [nm5519454, nm5519375]  nm6182221,nm1628284,nm2921377
8315068  tt9916850  [nm5519454, nm5519375]  nm6182221,nm1628284,nm2921377
8315069  tt9916852  [nm5519375, nm5519454]  nm6182221,nm1628284,nm2921377
8315070  tt9916856            [nm10538645]                      nm6951431
8315071  tt9916880             [nm0996406]            nm1482639,nm2586970

[8315072 rows x 3 columns]

In [53]:
title_crew_sub.iloc[8315069, 1][1]

'nm5519454'

In [54]:
title_crew_sub.explode('directors')

            tconst   directors                        writers
0        tt0000001   nm0005690                             \N
1        tt0000002   nm0721526                             \N
2        tt0000003   nm0721526                             \N
3        tt0000004   nm0721526                             \N
4        tt0000005   nm0005690                             \N
...            ...         ...                            ...
8315068  tt9916850   nm5519375  nm6182221,nm1628284,nm2921377
8315069  tt9916852   nm5519375  nm6182221,nm1628284,nm2921377
8315069  tt9916852   nm5519454  nm6182221,nm1628284,nm2921377
8315070  tt9916856  nm10538645                      nm6951431
8315071  tt9916880   nm0996406            nm1482639,nm2586970

[9820014 rows x 3 columns]

In [74]:
rating.loc[rating['averageRating'] != '\\N']

            tconst  averageRating  numVotes
0        tt0000001            5.7      1823
1        tt0000002            6.0       233
2        tt0000003            6.5      1576
3        tt0000004            6.1       151
4        tt0000005            6.2      2402
...            ...            ...       ...
1191171  tt9916682            5.6         5
1191172  tt9916690            6.6         5
1191173  tt9916720            5.3       136
1191174  tt9916766            7.1        17
1191175  tt9916778            7.5        31

[1191176 rows x 3 columns]

In [13]:
title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1823
1        tt0000002            6.0       233
2        tt0000003            6.5      1576
3        tt0000004            6.1       151
4        tt0000005            6.2      2402
...            ...            ...       ...
1191171  tt9916682            5.6         5
1191172  tt9916690            6.6         5
1191173  tt9916720            5.3       136
1191174  tt9916766            7.1        17
1191175  tt9916778            7.5        31

[1191176 rows x 3 columns]

In [85]:
df.loc[df['primaryTitle'] != df['originalTitle']]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11059,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019,\N,67,Drama
61125,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,\N,70,Drama
91086,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,\N,74,"Horror,Music,Thriller"
98065,tt0100275,movie,The Wandering Soap Opera,La telenovela errante,0,2017,\N,80,"Comedy,Drama,Fantasy"
116013,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0,2000,\N,98,"Drama,Romance"
...,...,...,...,...,...,...,...,...,...
8316658,tt9914254,movie,A Cherry Tale,Kirsebæreventyret,0,2019,\N,85,Documentary
8316988,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,\N,74,Drama
8317417,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,\N,97,"Comedy,Drama,Fantasy"
8317558,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,51,Drama
8317651,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History"

In [89]:
temp = pd.merge(df, rating, how = 'inner', on = 'tconst')

In [105]:
temp.loc[temp['originalTitle'].str.contains('Harry')]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
1135,tt0216279,movie,Wild About Harry,Wild About Harry,0,2000,\N,91,"Comedy,Drama,Romance",6.0,527
1161,tt0216800,movie,With a Friend Like Harry...,"Harry, un ami qui vous veut du bien",0,2000,\N,117,"Comedy,Drama,Mystery",7.1,11108
1900,tt0241527,movie,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,0,2001,\N,152,"Adventure,Family,Fantasy",7.6,699909
2639,tt0256084,movie,How Harry Became a Tree,How Harry Became a Tree,0,2001,\N,99,Drama,6.7,844
4509,tt0285086,movie,Farewell to Harry,Farewell to Harry,0,2002,\N,103,Drama,6.5,156
5271,tt0295297,movie,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets,0,2002,\N,161,"Adventure,Family,Fantasy",7.4,582697
5941,tt0304141,movie,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban,0,2004,\N,142,"Adventure,Family,Fantasy",7.9,580764
7550,tt0329028,movie,Dumb and Dumberer: When Harry Met Lloyd,Dumb and Dumberer: When Harry Met Lloyd,0,2003,\N,85,Comedy,3.4,38672
7678,tt0330373,movie,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire,0,2005,\N,157,"Adventure,Family,Fantasy",7.7,574662
10530,tt0373889,movie,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,0,2007,\N,138,"Action,Adventure,Family",7.5,535576
12001,tt0390080,movie,Harry + Max,Harry + Max,0,2004,\N,74,"Drama,Romance",5.5,1065
13932,tt0417741,movie,Harry Potter and the Half-Blood Prince,Harry Potter and the Half-Blood Prince,0,2009,\N,153,"Action,Adventure,Family",7.6,499999
16426,tt0448076,movie,Bye Bye Harry!,Bye Bye Harry!,0,2006,\N,90,Comedy,4.3,105
16503,tt0449031,movie,Halal Harry,Halal Harry,0,2006,\N,75,"Comedy,Drama",5.0,13
17248,tt0456972,movie,Harry's Daughters,Harrys döttrar,0,2005,\N,106,Drama,5.9,214
18912,tt0476888,movie,"Tom, Dick, and Harry","Tom, Dick, and Harry",0,2006,\N,137,"Action,Comedy,Romance",3.2,580
20848,tt0756727,movie,Who Is Harry Nilsson (And Why Is Everybody Tal...,Who Is Harry Nilsson (And Why Is Everybody Tal...,0,2010,\N,116,"Biography,Documentary,Music",7.6,1509
20888,tt0757985,movie,Harry Monument,Harry Monument,0,2004,\N,106,"Comedy,Mystery",7.9,11
25136,tt0926084,movie,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows: Part 1,0,2010,\N,146,"Adventure,Fantasy,Mystery",7.7,503271
28202,tt1028561,movie,"The Old, Weird America: Harry Smith's Antholog...","The Old, Weird America: Harry Smith's Antholog...",0,2007,\N,90,"Biography,Documentary,Music",6.9,40
36589,tt11723904,movie,The Sit-In: Harry Belafonte hosts the Tonight ...,The Sit-In: Harry Belafonte Hosts the Tonight ...,0,2020,\N,75,Documentary,7.6,130
38121,tt1201607,movie,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,0,2011,\N,130,"Adventure,Fantasy,Mystery",8.1,803440
38317,tt12058494,movie,Marry Harry,Marry Harry,0,2020,\N,81,Musical,5.6,29
42221,tt1289406,movie,Harry Brown,Harry Brown,0,2009,\N,103,"Action,Crime,Drama",7.2,85895
43653,tt1318001,movie,Handsome Harry,Handsome Harry,0,2009,\N,94,Drama,6.1,2152
47897,tt14016048,movie,"9th Circuit Cowboy: The Long, Good Fight of Ju...","9th Circuit Cowboy: The Long, Good Fight of Ju...",0,2021,\N,53,Documentary,4.2,17
48443,tt1413534,movie,I'm Not Harry Jenson.,I'm Not Harry Jenson.,0,2009,\N,106,"Mystery,Thriller",6.7,130
53069,tt1535110,movie,When Harry Tries to Marry,When Harry Tries to Marry,0,2011,\N,93,"Comedy,Romance",4.6,653
55685,tt1621795,movie,Harrys Comeback - Letzter Puff vor Helgoland,Harrys Comeback - Letzter Puff vor Helgoland,0,2010,\N,75,Comedy,6.3,31
57223,tt1677548,movie,Hold at All Costs: The Story of the Battle of ...,Hold at All Costs: The Story of the Battle of ...,0,2010,\N,85,Documentary,7.6,17
60271,tt1781796,movie,"Creating the World of Harry Potter, Part 4: So...","Creating the World of Harry Potter, Part 4: So...",0,2010,\N,54,Documentary,7.7,95
62019,tt1839590,movie,Ray Harryhausen: Special Effects Titan,Ray Harryhausen: Special Effects Titan,0,2011,\N,90,"Biography,Documentary",7.6,1285
62819,tt1867094,movie,The Seekers Guide to Harry Potter,The Seekers Guide to Harry Potter,0,2010,\N,75,Documentary,3.0,29
74051,tt2372776,movie,Harry Dean Stanton: Partly Fiction,Harry Dean Stanton: Partly Fiction,0,2012,\N,77,"Biography,Documentary",7.5,1002
80505,tt2898306,movie,Harry & Snowman,Harry & Snowman,0,2015,\N,84,"Biography,Documentary,Drama",7.7,685
81844,tt3013528,movie,The Harry Hill Movie,The Harry Hill Movie,0,2013,\N,88,"Adventure,Comedy,Family",3.8,2135
81872,tt3017122,movie,Harry's Metaphysical Day Off,Harry's Metaphysical Day Off,0,2013,\N,64,"Comedy,Drama,Romance",7.0,11
81894,tt3020696,movie,"Harry, Hamlet and I","Harry, Hamlet and I",0,2013,\N,99,Drama,8.6,5
85443,tt3319844,movie,Harry Benson: Shoot First,Harry Benson: Shoot First,0,2016,\N,87,Documentary,7.3,405
87293,tt3483672,movie,Harry & Avis,Harry & Avis,0,2014,\N,77,"Comedy,Drama,Mystery",6.8,8
87544,tt3505804,movie,Harry Og Heimir,Harry & Heimir: Morð eru til alls fyrst,0,2014,\N,85,Comedy,7.6,104
95930,tt4320548,movie,OG: The Harry Jumonji Story,OG: The Harry Jumonji Story,0,2017,\N,92,"Biography,Documentary,Sport",6.6,22
101808,tt5028968,movie,Harry's Bar,Harry's Bar,0,2015,\N,52,Drama,7.5,21
110070,tt5997666,movie,Jab Harry Met Sejal,Jab Harry Met Sejal,0,2017,\N,143,"Comedy,Drama,Romance",5.3,19899
115590,tt6716678,movie,Harry Birrell Presents Films of Love and War,Harry Birrell Presents Films of Love and War,0,2019,\N,90,Documentary,8.1,57
116937,tt6922018,movie,Harry Styles: Behind the Album,Harry Styles: Behind the Album,0,2017,\N,49,Biography,8.7,695
122313,tt7783322,movie,Harry Potter: A History of Magic,Harry Potter: A History of Magic,0,2017,\N,59,Documentary,7.1,316
123694,tt8041846,movie,Harry Seidler: Modernist,Harry Seidler: Modernist,0,2017,\N,58,Documentary,4.9,7
124040,tt8103746,movie,Harry & Meghan: A Modern Royal Romance,Harry & Meghan: A Modern Royal Romance,0,2018,\N,63,"Biography,Documentary",4.4,105
125790,tt8443702,movie,Harry Potter and the Untold Stories of Hogwarts,Harry Potter and the Untold Stories of Hogwarts,0,2012,\N,58,"Adventure,Comedy,Fantasy",6.8,9
125793,tt8443794,movie,Harry and Meghan: A Windsor Wedding,Harry and Meghan: A Windsor Wedding,0,2018,\N,57,Documentary,2.8,92
125816,tt8447750,movie,Harry & Meghan: The Royal Wedding,Harry & Meghan: The Royal Wedding,0,2018,\N,210,Documentary,4.8,32
127461,tt8785496,movie,Harry & Patty,Harry & Patty,0,2018,\N,112,"Comedy,Romance",7.8,14
128217,tt8947970,movie,Peter Vs. Harry,Peter Vs. Harry,0,2018,\N,55,Documentary,7.4,5
131580,tt9714478,movie,"Harry Chapin: When in Doubt, Do Something","Harry Chapin: When in Doubt, Do Something",0,2020,\N,93,"Biography,Documentary,History",7.8,57